#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [4]:
import keyword
print(keyword.kwlist)
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [8]:
!python --version

Python 3.10.13

In [11]:
# 현재 작업폴더 확인
%pwd

'D:\\kdt_231026\\workspace\\m1_programming'

In [19]:
# 표현식
print(10)

# 문장
print(10+20)

# 프로그램
a=10
b=20
print(a+b)

10
30
30

In [20]:
# 문장은 하나 이상의 표현식이 모인 것으로 프로그래밍에서는 실행 가능한 최소의 독립적인 코드 조각
# 파이썬 코드의 한 줄, 또는 블록으로 된 것들을 하나의 문장이라고 할 수 있음
word = "python" # 하나의 문장
a = 100 + 200 

if a > 500:  # 블록을 이루는 하나의 문장
    print(word)

식별자 기본규칙 
- 키워드를 사용하면 안된다
- 특수문자는 언더 바(_)만 사용
- 숫자로 시작하면 안된다
- 공백을 포함할 수 없다

In [ ]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자
AlpHa
ALPHA
has space # 공백

파이썬은 snake_case와 CamelCase를 모두 사용

- itemlist : item_list itemList
- loginstatus : login_status loginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [25]:
a = 5
b = 3
c = b % a
d = b // a
e = b / a
print(c)
print(d)
print(e)

3
0
0.6

In [27]:
a = 3
b = 5

if a > b:
    print(a)

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [1]:
# 정수형, 실수형
i1 = 3
f1 = 3.5
print(i1)
print(f1)

3
3.5

In [75]:
# 정수(int)
print(int(True))
print(int(False))
print(int('100'))
print(int(3.14))

1
0
100
3

In [73]:
# 실수(float)
print(float(True))
print(float(False))
print(float(100))
print('3.14')

1.0
0.0
100.0
3.14

In [3]:
# 사칙연산 : +, *, /, //, %, **
a = 10
b = 2.3
print(a+b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

12.3
23.0
4.347826086956522
4.0
0.8000000000000007
199.52623149688787

In [ ]:
# 문자열
string = '문자열'
a = '100'

In [6]:
a = 100
b = 50
print(a+b)
a = '100'
b = '50'
print(a+b)

150
10050

In [7]:
# 사용자 입력
input('인사말을 입력하세요.')

인사말을 입력하세요.안녕하세요

'안녕하세요'

In [10]:
# input() 함수는 입력받은 데이터를 string으로 처리한다.
a = input()
b = input()
print(a+b)

3
3
33

In [9]:
# 두개의 정수를 입력해서 더한 결과를 출력하세요.
num1 = int(input("첫 번째 숫자: "))
num2 = int(input("두 번째 숫자: "))

print(num1 + num2)

첫 번째 숫자: 5
두 번째 숫자: 5
10

In [11]:
# 실수 + 실수 -> 실수
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.
a = float(input('3입력'))
b = float(input('3.3입력'))
print(a+b)

3입력3
3.3입력3.3
6.3

In [12]:
# 정수 + 실수 -> 실수
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.
num1 = int(input("정수를 입력하세요 : "))
num2 = float(input("소수점 이하를 포함한 실수를 입력하세요 : "))
print(num1 + num2)

정수를 입력하세요 : 3
소수점 이하를 포함한 실수를 입력하세요 : 3.3
6.3

In [13]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 자료형으로 변환하세요.
a = 52
b = 52.273
a = str(a)
b = str(b)
print(a+b)

5252.273

In [18]:
# 문자열 : "", '', """ """, ''' '''
# p1 = 'python's value is great'
p1 = "python's value is great"
print(p1)

python's value is great

In [19]:
p1 = 'python\'s value is great'
print(p1)

python's value is great

In [21]:
# \n 행 바꿈
y1 = "Once you study data analysis\nYou need Python"
print(y1)

Once you study data analysis
You need Python

In [24]:
y2 = '''
Once you study data analysis
You need Python
'''
print(y2)

Once you study data analysis
You need Python

In [29]:
a1 = 'Python'
a2 = ' is easy to learn'
print(a1+a2)
print("="*25)

Python is easy to learn
=========================

In [68]:
# 과제1. 다른 타입의 숫자 2개를 입력받아 큰 수를 출력하세요. 
t1 = int(input("첫번째 숫자"))
t2 = float(input("두번째 숫자"))
if t1 > t2:
    print(t1)
elif t1 < t2:
    print(t2)
else:
    print("큰 수가 없습니다.")

첫번째 숫자5
두번째 숫자3
5

In [ ]:
과제2. 아래와 같이 출력할 수 있는 string을 만드세요.
string =
print(string)
[출력문]
"What a wonderful world!" 
he said loudly

In [83]:
string = '''
"What a wonderful world!"
he said loudly
'''
print(string)

"What a wonderful world!"
he said loudly

In [30]:
# 자료형 - List
# 리스트는 [] 로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [37]:
# 인덱싱
list1 = [1,2,3,4,5]
list1[2]
list1[0:2]
list1[:4]

[1, 2, 3, 4]

In [42]:
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
list3[3][2]
list3[4][1]

'b'

In [47]:
# 리스트 수정, 삭제
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
a[0] = 1 
print(a)
b[1] = 'a'
print(b)
del a[0]
print(a)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'c']

In [54]:
# 끝에서 부터 인덱싱 : -1 
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
a[-2]
a[-4:-1]
a[-4:]

[6, 7, 8, 9]

In [57]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5]) # 반복 가능한 객체의 모든 요소를 리스트에 추가
print(h)
h.append(6) # 단일 객체를 추가
print(h)
h.insert(0,5)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]

In [63]:
h = [5, 1, 2, 3, 4, 5, 6]

In [59]:
h.extend([7])
print(h)

[5, 1, 2, 3, 4, 5, 6, 7]

In [62]:
h.append(7)
print(h)

[5, 1, 2, 3, 4, 5, 6, 7]

In [64]:
h.insert(7,7)
print(h)

[5, 1, 2, 3, 4, 5, 6, 7]

[과제3] list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기 - 도전
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [84]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
# 33을 출력
list1[11][1]

33

In [85]:
list1.append(82)
print(f'2번 답: {list1}')

2번 답: [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

In [88]:
list1.index(87)

5

In [86]:
list1.index(39)

8

In [87]:
list1[8] = 11
print(list1)

[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

In [90]:
list1[2::-1]

[69, 45, 58]

In [92]:
print(list1[::-1])

[82, 82, 22, 98, 63, 49, 27, [8, 33, 11], 54, 15, 11, 13, 29, 87, 4, 19, 69, 45, 58]

In [101]:
print(list1[:-4:-1])

[82, 82, 22]

In [103]:
print(list1[0:])

[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

In [106]:
print(list1[0::2])

[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]

In [107]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
del list1[-1]
print(list1)

[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22]

In [ ]:
a=list1[3]+list1[5]
print(a)
b=list1[3]-list1[5]
print(b)
c=list1[3]*list1[5]
print(c)
d=list1[3]/list1[5]
print(d)

In [108]:
a=list1[3]; b=list1[5]
print(a,b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

19 87
106
-68
1653
0.21839080459770116
19
0

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

In [65]:
# sort() 
my_list = [3, 1, 2]
my_list.sort()
print(my_list)  

# sorted() 
my_tuple = (3, 1, 2)
new_list = sorted(my_tuple)
print(my_tuple)  
print(new_list)

[1, 2, 3]
(3, 1, 2)
[1, 2, 3]

In [111]:
list = [5,6,9,7,8]
new_list=list.sort()
print(list)
print(new_list)

[5, 6, 7, 8, 9]
None

In [109]:
list = [5,6,9,7,8]
new_list = sorted(list)
print(list)
print(new_list)

[5, 6, 9, 7, 8]
[5, 6, 7, 8, 9]

In [113]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2 = list1[3:11]
l_sort = sorted(list2,reverse=True)
l_sort

[87, 54, 39, 29, 19, 15, 13, 4]

In [116]:
list3 = list1[3:11]
list3.sort(reverse=True)
print(list3)

[87, 54, 39, 29, 19, 15, 13, 4]

In [ ]:
[과제4] 아래 list를 sort, sorted 를 이용해서 올림차순, 내림차순으로 각각 출력하세요.

In [ ]:
list = [5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 3, 5, 7, 9, 11, 13, 15, 17]

In [ ]:
# 자료형 - Tuple
# 튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용

In [131]:
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

tuple1[:]
tuple1[2]
tuple3[3][2]

3

In [132]:
list = [1,2,3,4,5]
list[0] = 0
list

[0, 2, 3, 4, 5]

In [133]:
# 튜플의 요소 값은 변경할 수 없음
tuple = (1,2,3,4,5)
tuple[0] = 0
tuple

TypeError: 'tuple' object does not support item assignment

In [135]:
l1 = [1]
print(l1)

[1]

In [141]:
t1 = (1,) # 1개의 요소만 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)
type(t1)

(1,)

tuple

In [140]:
tl = (1)
print(tl)
type(tl)

1

int

In [136]:
t2 = 1,2,3
print(t2)

(1, 2, 3)

In [138]:
t2 * 3
t1 + t2

(1, 1, 2, 3)

In [ ]:
# 자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
{a:1,b:2}

In [142]:
d1 = {'a':1,'b':2,'c':3}
print(d1['a'])

1

In [143]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [144]:
d1.values()

dict_values([1, 2, 3])

In [145]:
d1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [146]:
d1['d'] = 4
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [147]:
d1['b'] = 7
d1

{'a': 1, 'b': 7, 'c': 3, 'd': 4}

In [ ]:
# 자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다.)

In [1]:
s1 = set([1,2,5,4,3])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'H', 'o', 'e', 'l'}

In [6]:
l1 = list(s1)
print(l1[1])

2

In [5]:
l2 = list(s2)
print(l2[3])

l

In [7]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요.
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(list(s1|s2))
print(list(s1&s2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

#### True와 False
- 파이썬에서 참과 거짓을 나타내는 상수. True는 1, False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return

In [8]:
# 자료형 - 논리(Bool)
print(bool(0))
print(bool(''))
print(bool([]))
print(bool(1))
print(bool(100))

False
False
False
True
True

In [11]:
# 관계 연산자
x = 1; y = 2
str1 = 'abc'; str2 = 'python'
print(x == y)
print(x != y)
print(str1 == str2)
print(str2 == 'python')
print(str1 < str2)

False
True
False
True
True

In [12]:
# 논리 연산자
bool1 = True; bool2 = False; bool3 = True; bool4 = False
print(bool1 and bool2)
print(bool1 or bool2)
print(not bool3)
print(not bool4)

False
True
False
True

#### 파이썬에서 들여쓰기
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [16]:
li = ['a','b','c']
if 'a' in li:
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')

a가 li에 있습니다.

In [19]:
numbers = [1,2,3]
sum(numbers)

6

In [21]:
# 사용자 함수
def add(a,b,c):
    return a + b +3

add(1,2,3)

6

In [23]:
class SumMul:
    def sum(self,n1,n2):
        return n1 + n2
    def mul(self,n1,n2):
        return n1 * n2
    
obj1 = SumMul()
print(obj1.sum(1,1))
obj2 = SumMul()
print(obj2.mul(1,1))

2
1

In [25]:
# split() 함수
text = '나는 오늘 기분이 좋아요'
words = text.split()
words

['나는', '오늘', '기분이', '좋아요']

In [26]:
# 복합 대입연산자
num = 10
num += 10 # num = num + 10
num

20

In [ ]:
# [과제5] 복합 대입연산자를 이용해서 4칙연산을 수행하세요

In [30]:
# 소문자, 대문자 변환
word = 'DOG'
w1 = word.lower()
print(w1)
w2 = w1.upper()
print(w2)

dog
DOG

#### 과제6 다음 과제를 수행하세요.
- 사용자로 부터 텍스트를 입력 받는다.
- 문자을 단어 단위로 분리
- 단어의 빈도수를 저장할 딕셔너리를 생성
- 각 단어의 빈도 수를 계산(for 문 / if else문)
- 결과 출력

In [2]:
word_frequency = {}
input_str = input("체크할 문장을 적어주세요: ")
words_list = input_str.split()
for word in words_list:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1        

print(word_frequency)

체크할 문장을 적어주세요: I love apple. I love orange. Apple is tasty
{'I': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'Apple': 1, 'is': 1, 'tasty': 1}

In [34]:
# 사용자로부터 문장을 입력 받습니다.
sentence = input("문장을 입력하세요: ")

# 문장을 단어 단위로 분리합니다.
words = sentence.split()

# 단어의 빈도수를 저장할 딕셔너리를 생성합니다.
word_frequency = {}

# 각 단어의 빈도수를 계산합니다.
for word in words:
    # 대소문자를 구분하지 않기 위해 단어를 소문자로 변환합니다.
    word = word.lower()
    
    # 딕셔너리에 단어가 이미 존재한다면 빈도수를 1 증가시키고,
    # 존재하지 않는다면 새로운 항목으로 추가합니다.
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

# 결과를 출력합니다.
print(word_frequency)
# I love apple. I love orange. Apple is tasty

문장을 입력하세요: I love apple. I love orange. Apple is tasty
{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}

#### 이스케이프 문자
- 키보드로 입력하기 어려운 기호 등을 나타낸다.
- \로 시작, \n 줄바꾸기, \t 탭,

In [32]:
print('나는 파이썬을 사랑합니다.\n파이썬은 자바보다 훨씬 쉽습니다.')
print('나는 파이썬을 사랑합니다.\t파이썬은 자바보다 훨씬 쉽습니다.')

나는 파이썬을 사랑합니다.
파이썬은 자바보다 훨씬 쉽습니다.
나는 파이썬을 사랑합니다.	파이썬은 자바보다 훨씬 쉽습니다.

In [33]:
print("Hello\tWorld!")     # 탭 문자를 사용하여 "Hello"와 "World!" 사이에 탭 간격을 줍니다.
print("Hello\nWorld!")     # 줄 바꿈 문자를 사용하여 "Hello"와 "World!"를 다른 줄에 출력합니다.
print("She said, \"Hi!\"") # 큰따옴표를 문자열 내부에 포함시킵니다.
print('It\'s raining.')   # 작은따옴표를 문자열 내부에 포함시킵니다.
print("Backslash: \\")    # 백슬래시를 출력합니다.

Hello	World!
Hello
World!
She said, "Hi!"
It's raining.
Backslash: \

#### 문자열 포멧
- % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형을 적어준다.
- str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
- f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.

In [35]:

print('%(num)d, %(float)f, %(string)s ' % {"num": 3, "float": 3, "string": 'hello'})

3, 3.000000, hello

In [6]:
txt1 = '자바';txt2='파이썬'
num1= 5; num2=10
print('나는 %s보다 %s에 더 익숙합니다.' %(txt1, txt2))
print('%s은 %s보다 %d배 더 쉽습니다.' %(txt2, txt1, num1))
print('%d + %d = %d' %(num1, num2, num1+num2))
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.' %num1)

나는 자바보다 파이썬에 더 익숙합니다.
파이썬은 자바보다 5배 더 쉽습니다.
5 + 10 = 15
작년 세계 경제 성장률은 전년에 비해 5% 포인트 증가했다.

In [37]:
# str.format
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [8]:
# f-string
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [10]:
table = {'Tom': 1234, 'Jack': 4518, 'Eddie': 9638}
for name, phone in table.items():
    print(f'{name:5} ==> {phone:5d}')

Tom   ==>  1234
Jack  ==>  4518
Eddie ==>  9638

In [17]:
# 소수점 4자리까지만 표현
y = 3.42134234
f'{y:0.5f}'

'3.42134'

In [18]:
# 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
y = 3.42134234
f'{y:10.4f}'

'    3.4213'

In [ ]:
# [과제1_1030] num1=12345, num2=12.345679 을 아래와 같이 출력하세요. 
12345
     12345
12.345679
          12.346

In [14]:
num1=12345
num2=12.345679
print(num1)
print(f'{num1:10d}')

12345
     12345

#### 2진수, 8진수, 16진수의 데이터 표현 방법

- 우리가 프로그래밍을 하면서 변수에 어떤 값을 저장할 때 10진수는 일상적 표현을 그대로 대입한다.
- 예를들어 15를 저장하고 싶다면 int a= 15; 와 같이 15라는 숫자를 그대로 대입하면 된다.
- 하지만 2진수, 8진수, 16진수는 표현법이 따로 정해져있다.<br><br>  

- 2진수는 대입하고자 하는 값 앞에 0b를 붙인다. (숫자0과 영문자b)
- 8진수는 대입하고자 하는 값 앞에 0o 을 붙인다. (숫자0 영문자o)
- 16진수는 대입하고자 하는 값 앞에 0x 를 붙인다. (숫자0과 영문자x)

아래의 예시를 보자.
변수 a,b,c,d 는 모두 10진수 122 이라는 값을 저장하는 코드이다.

122는
- 2진수로 1111010
- 8진수로 172
- 16진수로 7A 이다.

In [20]:
a = 0o172 # 8진수 0o로 시작
b = 0x7A # 16진수 0x로 시작
c = 0b1111010 # 2진수 0b로 시작
print(a)
print(b)
print(c)

122
172
122
122

In [21]:
int_data = 10
bin_data = 0b10
oct_data = 0o10
hex_data = 0x10
print(int_data)
print(bin_data)
print(oct_data)
print(hex_data)

10
2
8
16

In [22]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
# 16진수 10 a, 11 b, 12 c, 13 d, 14 e, 15 f
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 0o로 시작
f = 0xABC # 16진수 0x로 시작
g = 0b101010 # 2진수 0b로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
42

In [23]:
# 2진수를 10진수로 표현
g1 = 0b100000
g2 = 0b1000
g3 = 0b10
print(g1)
print(g2)
print(g3)

32
8
2

In [27]:
# 16진수를 10진수로 표현
f1 = 0xA
f2 = 0xB
f3 = 0xAB
print(f1)
print(f2)
print(f3)
print(16*10+1*11)

10
11
171
171

In [29]:
print(1,2,3,sep=',')

1,2,3